extends layout3

block content
h1(style="color:white;")= title
div
    h2 Ver Usuarios
    table.table.table-striped
        for user in usuarios
            tr  
                td
                    input(type="text" name="user" value=user.id)
            tr
                td
                    input(type="text" name="nombre" value=user.nombre)
            tr
                td
                    input(type="text" name="pass" value=user.pass)
            tr
                td
                    form(action="/" method="GET")
                        input(type="submit" value="Editar usuario" class="glyphicon glyphicon-user btn-lg btn-warning")
                td
                    form(action="/" method="GET")
                        input(type="submit" value="Eliminar usuario" class="glyphicon glyphicon-user btn-lg btn-danger")
      